body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    width: 100%;
    display: flex;
}

#root {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

img {
    max-width: 600px;
}

@import "./styles/variables";
@import "styles/_bottomBar";
@import "styles/_gameContainer";
@import "styles/_button";
@import "styles/_landingScreen";
@import "styles/_results";
